
src/test/java/AlgoChess/BasuraTest.java
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_5_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_5_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_5_2.xml
.idea/libraries/Maven__org_junit_vintage_junit_vintage_engine_5_5_2.xml
.idea/libraries/Maven__org_mockito_mockito_all_1_10_19.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/Anzu.xml
.idea/inspectionProfiles/Project_Default.xml
target/classes/AlgoChess/engine/comandante/Comandante.class
target/classes/AlgoChess/engine/Constantes.class
target/classes/AlgoChess/engine/Dinero.class
target/classes/AlgoChess/engine/entidades/armas/Arco.class
target/classes/AlgoChess/engine/entidades/armas/Arma.class
target/classes/AlgoChess/engine/entidades/armas/Daga.class
target/classes/AlgoChess/engine/entidades/armas/Espada.class
target/classes/AlgoChess/engine/entidades/armas/rangos/Cercano.class
target/classes/AlgoChess/engine/entidades/armas/rangos/Largo.class
target/classes/AlgoChess/engine/entidades/armas/rangos/Medio.class
target/classes/AlgoChess/engine/entidades/armas/rangos/Rango.class
target/classes/AlgoChess/engine/entidades/armas/Roca.class
target/classes/AlgoChess/engine/entidades/armas/Vaculo.class
target/classes/AlgoChess/engine/entidades/Catapulta.class
target/classes/AlgoChess/engine/entidades/Curandero.class
target/classes/AlgoChess/engine/entidades/Entidad.class
target/classes/AlgoChess/engine/entidades/Jinete.class
target/classes/AlgoChess/engine/entidades/NulaEntidad.class
target/classes/AlgoChess/engine/entidades/Soldado.class
target/classes/AlgoChess/engine/entidades/Vida.class
target/classes/AlgoChess/engine/facciones/Faccion.class
target/classes/AlgoChess/engine/interfaces/armas/ArmaAtaca.class
target/classes/AlgoChess/engine/interfaces/armas/ArmaCura.class
target/classes/AlgoChess/engine/interfaces/casillero/Recuadro.class
target/classes/AlgoChess/engine/interfaces/entidades/PuedeAtacar.class
target/classes/AlgoChess/engine/interfaces/entidades/PuedeCurar.class
target/classes/AlgoChess/engine/interfaces/entidades/PuedeFormarBatallon.class
target/classes/AlgoChess/engine/interfaces/entidades/PuedeMoverse.class
target/classes/AlgoChess/engine/interfaces/entidades/PuedeSerCurada.class
target/classes/AlgoChess/engine/interfaces/entidades/PuedeSerHerida.class
target/classes/AlgoChess/engine/jugador/Jugador.class
target/classes/AlgoChess/engine/matematica/Calculadora.class
target/classes/AlgoChess/engine/posicion/Posicion.class
target/classes/AlgoChess/engine/tablero/Casillero.class
target/classes/AlgoChess/engine/tablero/Ocupado.class
target/classes/AlgoChess/engine/tablero/Tablero.class
target/classes/AlgoChess/engine/tablero/Vacio.class
target/classes/AlgoChess/engine/vendedorDeEntidades/VendedorDeEntidades.class
target/classes/AlgoChess/excepciones/CasilleroOcupadoException.class
target/classes/AlgoChess/excepciones/CasilleroVacioException.class
target/classes/AlgoChess/excepciones/ColocarEntidadException.class
target/classes/AlgoChess/excepciones/EntidadDelMismoEquipoException.class
target/classes/AlgoChess/excepciones/EntidadFueraDeAlcanceException.class
target/classes/AlgoChess/excepciones/EntidadNoPuedeMoverseException.class
target/classes/AlgoChess/excepciones/JugadorPierdeException.class
target/classes/AlgoChess/excepciones/PuntosInsuficientesException.class
target/classes/AlgoChess/excepciones/TipoNoPuedeAtacarException.class
target/classes/AlgoChess/excepciones/TipoNoPuedeCurarException.class
target/classes/AlgoChess/excepciones/TipoNoPuedeSerCuradoException.class
target/test-classes/AlgoChess/BasuraTest.class
target/test-classes/AlgoChess/BatallonTest.class
target/test-classes/AlgoChess/CatapultaTest.class
target/test-classes/AlgoChess/TableroTest.class
